<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u5778016.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calculator"
        android:supportsRtl="true"
        android:theme="@style/Eric"
        >
        //android:theme="@android:style/Theme.Holo.Light"


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListsActivity"
            android:label="History"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BinaryActivity"
            android:label="Binary Calculator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LogicalActivity"
            android:parentActivityName=".MainActivity"
            android:label="Logical Calculator"/>
        <activity
            android:name=".OctalActivity"
            android:label="Octal Calculator"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HexActivity"
            android:label="Hex Calculator"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>
